<div class="container">
    <div class="card-body card-block">
        <div class="login-content">
            <div class="login-logo">

                <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MAO</strong></a>
            </div>
            <h3 class="title-3 m-b-30">
                <i class="zmdi zmdi-account-calendar"></i>Problems
            </h3>
            <div class="card-body">
                <div class="card-text">Date: {{ report.DATE}}</div>
                <div class="card-text">Device: {{ report.EquipmentName}} , Model: {{ report.EquipmentModel}}</div>
                <div class="card-text">technicien: {{ report.Engineer}}</div>
                <div class="card-text">Problems: {{ report.Description}}</div>
            </div>


            

        </div>

    </div>
</div>