<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">Maintenance</h3>
                    <div class="table-data__tool">
                        
                            <div  class="table-data__tool-right">
                            <a href="#" data-toggle="modal" data-target="#modalAppointment" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Add Maintenance</a>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Description</th>
                                    <th>Panne</th>
                                    <th>Department</th>
                                    <th>Equipment</th>
                                    <th>Chef Service</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {{#if hasMaintenance}} 
                            <tbody>
                               {{#each Maintenances }} 

                                <tr class="tr-shadow">
                                    <td>{{this.Id}}</td>
                                    <td>{{this.StartDate}}</td>
                                    <td>{{this.EndDate}}</td>
                                    <td>{{this.Description}}</td>
                                    <td>{{this.BreakDownCode}}</td>
                                    <td>{{this.Department}}</td>
                                    <td><img src="images/{{this.EquipmentImage}}" style="height: 50px; width:50px; border-radius: 50%;" >  {{this.EquipmentName}}-{{this.EquipmentCode}}</td>
                                    <td> <img src="images/{{this.TechnicienImage}}" style="height: 50px; width:50px; border-radius: 50%;" > {{this.Technicien}} </td>
                                    <td>
                                       <div class="table-data-feature">
                                                <a href="/maintenance/edit/{{ this.Id }}" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <a href="/maintenance/delete/{{ this.Id }}" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>        

                                            </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                              {{/each}} 
                             </tbody>
                           {{/if}} 
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
                
        </div>
    </div>
</div>


